---
import Layout from "../Layout.astro";
import BuildYourOwnTool from "../build-your-own/index";

const title = "Build Your Own Typewriter Animation";
const description = "In order to get a feel for what TypeIt can do, try your hand at building an instance of yourself without writing a lick of code. Record an animation and tweak it to your liking. (Be gracious -- this playground is a work-in-progress!)";
---

<Layout
    title={title}
    description={description}
>
    <div class="max-w-5xl mx-auto">
        <h1 class="text-4xl md:text-5xl">{title}</h1>
        <p class="mb-10">{description}</p>

        <BuildYourOwnTool pagePath={Astro.url.pathname} client:load />
    </div>
</Layout>
