---
import LogoIcon from "./components/LogoIcon.astro";
import Footer from "./components/Footer.astro";
import Nav from "./components/Nav.astro";
import type { SoftwareApplication, WithContext } from "schema-dts";

import "./prism-theme.css";
import "@fontsource-variable/space-grotesk";
import "./tailwind.css";

const props = Astro.props;

const title =
  props.title ||
  "TypeIt | The most versatile JavaScript typewriter effect library on the planet.";
  const description = props.description;
  ("TypeIt allows you to create beautiful, dynamic typewriter effects with minimal effort.");

const schema: WithContext<SoftwareApplication> = {
  "@context": "https://schema.org",
  "@type": "SoftwareApplication",
  url: import.meta.env.SITE_URL,
  name: title,
  offers: [
    {
      "@type": "Offer",
      price: 9,
      priceCurrency: "USD"
    },
    {
      "@type": "Offer",
      price: 29,
      priceCurrency: "USD"
    },
  ],
  description: description,
  operatingSystem: "All",
  author: {
    "@type": "Person",
    name: "Alex MacArthur",
    url: import.meta.env.SITE_URL,
  },
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>
      {title}
    </title>

    { props.canonicalUrl && <link rel="canonical" href={props.canonicalUrl} /> }

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:image" content="https://typeitjs.com/open-graph.png" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta name="description" content={description} />
    <script defer data-domain="typeitjs.com" src="/js/numbers.js"></script>
  
    <script is:inline>window.tiInstances = window.tiInstances || new Map();</script>

    <script
      type="application/ld+json"
      set:html={JSON.stringify(schema)}
    />
  </head>

  <body class="m-0">
    <div class="box-border flex flex-col overflow-hidden min-h-screen py-2 px-6">
      <LogoIcon
        classes="w-screen max-h-screen md:w-[90vw] absolute z-[-1] opacity-5 top-[-15vw] md:top-[-20vw] left-[-15vw] md:left-[-20vw] transform rotate-[-10deg]"
      />

      <Nav />

      <div class="flex-1">
        <slot />
      </div>

      <Footer />
    </div>
  </body>

  <style is:global>
    @import "./global.css";

    :root {
      --pp-shadow: inset 0px 0px 0px 2px rgba(0, 0, 0, 0);
    }

    body {
      color: theme("colors.gray.800");
    }

    ul {
      @apply list-none p-0;
    }

    a {
      @apply no-underline text-inherit;
    }

    h1:not(.immune),
    h2:not(.immune),
    h3:not(.immune),
    h4:not(.immune),
    h5:not(.immune),
    h6:not(.immune) {
      color: theme("colors.slate.700");
      letter-spacing: -0.04em;
      @apply py-3 leading-tight;
    }

    p {
      @apply text-lg;
    }

    a {
      @apply text-slate-600 hover:text-purple-600;
    }

    .button {
      @apply px-4 py-2 rounded-md text-white text-base bg-white border-0 inline-flex justify-center gap-2 items-center cursor-pointer;
      @apply disabled:opacity-50 disabled:cursor-not-allowed;
      transition: background 0.2s ease-in-out;
      box-shadow: var(--pp-shadow);
      background: linear-gradient(
        to bottom right,
        theme("colors.purple.600"),
        theme("colors.purple.500")
      );
    }

    .button.inherit-size {
      font-size: inherit;
    }

    a.button:hover,
    button:hover {
      @apply border-purple-600 text-purple-700;
      background: none;
      -webkit-text-fill-color: inherit;
      box-shadow: inset 0px 0px 0px 2px theme("colors.purple.600");
    }

    input {
      @apply border-2 border-solid border-gray-300 rounded-md px-2;
    }
  </style>
</html>
